.App {
    background-color: #1e555c;
    color: white;
}

h1 {
    font-size: 4rem !important;
}

.clock-container {
    width: 600px;
}

.control-button {
    cursor: pointer;

    &:hover {
        color: #13353a;
    }

    &:active {
        transform: translateY(2px);
    }
}